@{
    ViewBag.Title = "Sobre";
}
<style>
    .geral {
        font-size: 40px !important;
    }

</style>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="geral">

    <p>
        Procuro atuar como Analista de Sistemas / Analista Programador, Engenheiro de Software em projetos nas plataformas RPA, MVC, ASP.Net, C#, .Net Core, Web Services, WCF, Oracle e SQL Server.
        Possuo experiência em modelagem e desenvolvimento de sistemas para internet/intranet e Windows forms, integração de banco de dados Oracle e SQL Server, desenvolvimento de aplicativos em ASP.Net, .Net Core, C#, MVC e construção e consumo de APIs web e micro-serviços, automações com Automate da helpsystems.
        Já atuei como instrutor de treinamentos internos e instrutor de cursos para o Projeto de Educação Voluntária.
        Sou Pró-ativo e autodidata, com grande rapidez na absorção de novas tecnologias com capacidade de integração com a equipe e o bom relacionamento interpessoal com rápida adaptação a mudanças e determinação.
    </p>
    <br />
    <div>
        <ol class="c11 lst-kix_list_3-1" start="3">
            <li class="c8">
                <span class="c5"> </span>
            </li>
        </ol>
        <ol class="c11 lst-kix_list_3-5 start" start="1">
            <li class="c18">
                <span class="c3">Novembro de 2018 &ndash; Julho 2020&ndash; Banco Pan S.A.</span>
            </li>
        </ol>
        <p class="c1">
            <span class="c16 c6 c15">Cargo: Analista/Programador SR</span>
        </p>
        <p class="c1">
            <span class="c0">Atuando com desenvolvimento e suporte h&aacute; sistemas em .Net e .Net Core, e desenvolvendo solu&ccedil;&otilde;es e aplica&ccedil;&otilde;es de RPA com Automate Helpsystens.</span>
        </p>
        <ol class="c11 lst-kix_list_3-3 start" start="1">
            <li class="c14">
                <span class="c3">Maio de 2018 &ndash; Setembro de 2018 &ndash; Clearsale S.A</span>
            </li>
        </ol>
        <p class="c1">
            <span class="c6 c15 c16">Cargo: Analista/Programador SR</span>
        </p>
        <p class="c1">
            <span class="c0">Atuando com desenvolvimento de sistemas em WCF e Asp.Net Core, desenvolvendo solu&ccedil;&otilde;es e aplica&ccedil;&otilde;es de autentica&ccedil;&atilde;o utilizando Token JWT.</span>
        </p>
        <ol class="c11 lst-kix_list_3-3" start="2">
            <li class="c14">
                <span class="c3">Mar&ccedil;o de 2015 &ndash; </span>
                <span class="c4">A</span>
                <span class="c3">bril de </span>
                <span class="c4">2018</span>
                <span class="c3">&nbsp;&ndash; Vidalink do Brasil S.A</span>
            </li>
        </ol>
        <p class="c1">
            <span class="c16 c6 c15">Cargo: Analista/Programador SR</span>


        </p>
        <p class="c1">
            <span class="c0">Atuando com desenvolvimento de sistemas em MVC, Jquery, Bootstrap, C#, Delphi desenvolvendo de solu&ccedil;&otilde;es e aplica&ccedil;&otilde;es de Call Center, Portais de Integra&ccedil;&atilde;o Web e Adiantamento de Receb&iacute;veis para as Redes Farmac&ecirc;uticas.</span>
        </p>
        <ol class="c11 lst-kix_list_3-3" start="3">
            <li class="c14">
                <span class="c3">Julho de 2007 &ndash; Janeiro de 2015 &ndash; Atento Brasil SA</span>
            </li>
        </ol>
        <p class="c1">

            <span class="c16 c6 c15">Cargo: Analista de Sistemas SR</span>
        </p>
        <p class="c1">
            <span class="c0">An&aacute;lise de sistemas, modelagem de sistemas utilizando UML, desenvolvimento de solu&ccedil;&otilde;es em ASP.Net, C#.Net, MVC, JQuery. WebServices e aplica&ccedil;&otilde;es de Call Center.</span>
        </p>
        <p class="c1">
            <span class="c0">Aloca&ccedil;&atilde;o e Coordena&ccedil;&atilde;o de recursos e mentoria de estagi&aacute;rios.</span>
        </p>
        <p class="c1">
            <span class="c0">Desenvolvimento de solu&ccedil;&otilde;es e sistemas:</span>
        </p>
        <ul class="c11 lst-kix_list_2-0 start">
            <li class="c12">
                <span class="c0">A-Mobility Sistema de vendas android</span>
            </li>
            <li class="c12">
                <span class="c0">SAV &ndash; Sistema Atento de Vendas.</span>
            </li>
            <li class="c12">
                <span class="c0">Sistema para Relat&oacute;rio de URA com captura de grava&ccedil;&atilde;o.</span>
            </li>
            <li class="c12">
                <span class="c0">Integra&ccedil;&atilde;o entre MainFrame e .Net.</span>
            </li>
            <li class="c12">
                <span class="c0">Sistema de Agendamento de Visitas.</span>
            </li>
            <li class="c12">
                <span class="c0">Sistema Receptivo de Vendas.</span>
            </li>
            <li class="c12">
                <span class="c0">Tuning de aplica&ccedil;&otilde;es SQL Server e Oracle.</span>
            </li>
        </ul>
        <p class="c1">
            <span class="c0">Instrutor dos Treinamentos:</span>
        </p>
        <ul class="c11 lst-kix_list_2-0">
            <li class="c12">
                <span class="c0">SAV para Desenvlovedores</span>
            </li>
            <li class="c12">
                <span class="c0">UML e Padr&otilde;es de Desenvolvimento</span>
            </li>
        </ul>
        <ol class="c11 lst-kix_list_3-3 start" start="1">
            <li class="c14">
                <span class="c3">Maio de 2007 &ndash; Julho de 2007 &ndash; WestBr &ndash; Tecnologia em Neg&oacute;cios e Sistemas</span>
            </li>
        </ol>
        <p class="c1">
            <span class="c16 c6 c15">Cargo: Analista Programador Pleno</span>
        </p>
        <p class="c1">
            <span class="c0">Desenvolvimento de solu&ccedil;&otilde;es em ASP.Net, C#.Net e Oracle, atuando no protejo:</span>
        </p>
        <ul class="c11 lst-kix_list_2-0">
            <li class="c12">
                <span class="c0">Philips: Sistema de gerenciamento e invent&aacute;rio de sistemas.</span>
            </li>
        </ul>
        <ol class="c11 lst-kix_list_3-3 start" start="1">
            <li class="c14">
                <span class="c3">Abril de 2005 &ndash; Maio de 2007 &ndash; Chiptek &ndash; Gest&atilde;o de TI</span>
            </li>
        </ol>
        <p class="c1">
            <span class="c16 c6 c15">Cargo: Analista de Sistemas</span>
        </p>
        <p class="c1">
            <span class="c0">An&aacute;lise de sistemas, modelagem em UML, desenvolvimento de solu&ccedil;&otilde;es em ASP.Net, C#.Net., ASP3.0, Visual Basic 6.0 e SQL Server 2000, atendendo ao modelo de 3 camadas MVC.</span>
        </p>
        <p class="c1">
            <span class="c0">Desenvolvimento de solu&ccedil;&otilde;es e sistemas:</span>
        </p>
        <ul class="c11 lst-kix_list_2-0">
            <li class="c12">
                <span class="c0">Sistema BDGC em ASP.Net, C#.Net.</span>
            </li>
            <li class="c12">
                <span class="c0">Sistema de Workflow de tarefas com Aprova&ccedil;&otilde;es ASP3.0 VB6.0 e SQL 2000.</span>
            </li>
            <li class="c12">
                <span class="c0">Sistema para integra&ccedil;&atilde;o de URA telef&ocirc;nica em C#.NET.</span>
            </li>
            <li class="c12">
                <span class="c0">Aplica&ccedil;&atilde;o de cursos para o Projeto de Educa&ccedil;&atilde;o Volunt&aacute;ria.</span>
            </li>
            <li class="c12">
                <span class="c0">Sistema de pesquisas em ASP3.0 e SQL Server.</span>
            </li>
            <li class="c12">
                <span class="c0">Manuten&ccedil;&atilde;o e Migra&ccedil;&atilde;o do iDesk (sistema de helpdesk) para 3 camadas utilizando ASP, Visual Basic 6 e SQL Server 2000.</span>
            </li>
            <li class="c12">
                <span class="c0">Desenvolvimento de relat&oacute;rios em Report Service.</span>
            </li>
        </ul>
        <ol class="c11 lst-kix_list_3-3 start" start="1">
            <li class="c14">
                <span class="c3">Outubro de 2001 / Mar&ccedil;o 2005 &ndash; A Vez do Mestre &ndash; P&oacute;s-Gradua&ccedil;&atilde;o</span>
            </li>
        </ol>
        <p class="c1">
            <span class="c16 c6 c15">Cargo: Analista de Sistemas</span>
        </p>
        <p class="c1">
            <span class="c0">An&aacute;lise e programa&ccedil;&atilde;o em projetos nas plataformas ASP, Visual Basic e SQL Server 2000.</span>
        </p>
        <ul class="c11 lst-kix_list_2-0">
            <li class="c12">
                <span class="c0">Desenvolvimento de um sistema publicador de cursos on-line utilizando J2EE, Struts, Hibernate e SQL Server.</span>
            </li>
            <li class="c12">
                <span class="c0">Desenvolvimento do site www.vezdomestre.com.br utilizando Java, J2EE, Java Script e SQL Server.</span>
            </li>
        </ul>
        <ol class="c11 lst-kix_list_3-3 start" start="1">
            <li class="c14">
                <span class="c3">Maio de 2000 / Mar&ccedil;o de 2001 &ndash; ACDC Inform&aacute;tica</span>
            </li>
        </ol>
        <p class="c1">
            <span class="c16 c6 c15">Cargo: Analista Programador</span>
        </p>
        <p class="c1">
            <span class="c0">An&aacute;lise, programa&ccedil;&atilde;o e consultoria em projetos.</span>
        </p>
        <ul class="c11 lst-kix_list_1-0 start">
            <li class="c7">
                <span class="c0">Michelin: An&aacute;lise, projeto de sistemas web com Lotus Notes , &nbsp;ASP e FLASH, em plataforma IBM e Oracle integrado. </span>
            </li>
            <li class="c7">
                <span class="c0">Michelin: L&iacute;der de equipe no projeto de atualiza&ccedil;&atilde;o do parque de m&aacute;quinas da Am&eacute;rica Latina.</span>
            </li>
            <li class="c7">
                <span class="c0">Merck: An&aacute;lise, projeto de sistemas web com ASP e FLASH, em plataforma IBM e Oracle integrado, suporte e treinamento. </span>
            </li>
        </ul>
    </div>
</div>
