@{
    ViewBag.Title = "Questão 6";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    servico.palavraTriangulo("SKY") = @ViewBag.MessageSKY <br />
    servico.palavraTriangulo("ASDF") = @ViewBag.MessageASDF
</address>

